cockroach-data
# Node
node_modules/

# Vite
frontend/animalshelter/dist/
frontend/animalshelter/dist-ssr/

# Vue
.DS_Store
*.local

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Vercel
.vercel